.cls-101 {
  fill: none;
}
.cls-202 {
  clip-path: url(#clip-path);
}
.cls-303,
.cls-606 {
  fill: #20124d;
}
.cls-404,
.cls-505 {
  fill: #4a86e8;
}
.cls-404,
.cls-606 {
  fill-rule: evenodd;
}
.cls-707 {
  clip-path: url(#clip-path-2);
}
.cls-808 {
  fill: #fff;
}
.cls-909 {
  fill: #5c576c;
}
