.st0 {
  fill: none;
}
.st1 {
  enable-background: new;
}
.st2 {
  fill: #ecf2ff;
}
.st3 {
  fill: #2b3087;
}
.st4 {
  font-family: "Montserrat-SemiBold";
}
.st5 {
  font-size: 50px;
}
.st6 {
  fill: #f5b301;
}
.st7 {
  fill: #eff1ff;
}
.st8 {
  fill: #686158;
}
.st9 {
  fill: #ffffff;
}
.st10 {
  clip-path: url(#SVGID_2_);
}
.st11 {
  clip-path: url(#SVGID_4_);
}
.st12 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 0.4039;
}
.st13 {
  fill: #2d2c2c;
}
.st14 {
  fill: #efefef;
}
